<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
<div class="header-fields">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

    <!-- Character summary fields -->

        <ul class="attributes flexrow">
            <li class="attribute">
                <h4 class="attribute-name box-title">{{ localize "WITCHER.AbbrHP" }}</h4>
                <div class="attribute-value multiple">
                    <input class="attribute-value multiple" type="text" name="data.derivedstats.hp.value" value="{{data.derivedstats.hp.value}}" data-dtype="Number" />
                    <span> / </span>
                    <input class="attribute-value multiple" type="text" name="data.derivedstats.hp.max" value="{{data.derivedstats.hp.max}}" data-dtype="Number" />
                </div>
            </li>

            <li class="attribute">
                <h4 class="attribute-name box-title">{{ localize "WITCHER.AbbrSta" }}</h4>
                <div class="attribute-value multiple">
                    <input class="attribute-value multiple" type="text" name="data.derivedstats.sta.value" value="{{data.derivedstats.sta.value}}" data-dtype="Number" />
                    <span> / </span>
                    <input class="attribute-value multiple" type="text" name="data.derivedstats.sta.max" value="{{data.derivedstats.sta.max}}" data-dtype="Number" />
                </div>
            </li>

            <li class="attribute">
                <h4 class="attribute-name box-title">{{ localize "WITCHER.Race" }}</h4>
                <div class="attribute-value">
                    <input class="header detail" name="data.general.race" type="String" value="{{data.general.race}}" placeholder="Race"/>
                </div>
            </li>

            <li class="attribute">
                <h4 class="attribute-name box-title">{{ localize "WITCHER.Profession" }}</h4>
                <div class="attribute-value">
                    <input class="header detail" name="data.general.profession" type="String" value="{{data.general.profession}}" placeholder="Profession"/>
                </div>
            </li>
        </ul>

    </div>
</div>